/**
 * 01. Clearfix
 * 02. Breakpoint
 */


// 01. Clearfix

@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}


// 02. Breakpoint

@mixin breakpoint ( $size ) {
	$media : 'screen';
	$breakpoint : map-get( $breakpoints, $size );

	@if ( strip-unit( $breakpoint ) != 0 ) {
		$media: $media + ' and (min-width: #{$breakpoint})';
	}

	@media #{$media} {
		@content;
	}
}