/**
 * 01. Global avatar treatment
 */


// 01. Global avatar treatment

.wcorg-speaker-description,
.wcorg-organizer-description,
#tix-attendees .tix-attendee-list li {
	position: relative;

	&:before {
		content: '';

		background: {
			image: url('https://2017.rhodeisland.wordcamp.org/files/2017/08/wcri-gravitar-frame@2x.png');
	    	size: 140px;
	    };
	    height: 140px;
	    width: 140px;
	    
	    position: absolute;
	    left: 0px;
	    top: 5px;
	}

	*:last-child {
		margin-bottom: 0;
	}

	.photo {
		border-radius: 100px;
		float: left;
		margin: 0 30px 20px 20px;
		width: 100px;
		height: 100px;
	}
}

#tix-attendees .tix-attendee-list li {
	height: auto;
	min-height: 140px;

	&:before {
		left: 50%;
		margin-left: -70px;
	}

	img.photo {
		display: block;
		float: none;
		margin: 0 auto 30px;
	}

	.tix-field {
		margin: 0 0 10px;
		text-align: center;
	}

	@media screen and ( min-width: 741px ) {
		width: 33.333333%;

		&:nth-of-type(3n + 1) {
			clear: left;
		}	
	}

	@media screen and ( min-width: 401px ) and ( max-width: 740px ) {
		width: 50%;

		&:nth-of-type(2n + 1) {
			clear: left;
		}	
	}

	@media screen and ( max-width: 400px ) {
		width: 100%;
	}
}