footer {
  background: $secondary-color;

  .social-navigation a {
    transition: color 0.3s ease-in-out;
    background-color: $primary-color !important;
    color: $secondary-color !important;
    &:hover, &:focus, &:active {
      color: $secondary-color !important;
      background-color: darken($primary-color, 15) !important;
      .icon {
        color: $secondary-color !important;
      }
    }
  }

  .site-info {
    a {

    }
  }
}