footer {
  background: $secondary-color;

  .social-navigation a {
    transition: color 0.3s ease-in-out;
    background-color: $primary-color !important;
    color: $secondary-color !important;
    &:hover, &:focus, &:active {
      color: $secondary-color !important;
      background-color: darken($primary-color, 15) !important;
      .icon {
        color: $secondary-color !important;
      }
    }
  }

  .site-info {
    a {
      outline: none;
      font-weight: bold;
      color: #C8A762;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      &:hover {
        color: #a48239 !important;
        border-bottom: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }
    }
  }
}

.site-footer {
  .wrap {
    max-width: 100%;
    padding: 0 0 1.5em;

    ul#menu-social-menu {
      margin-left: 2rem;
    }

    .wcb_widget_sponsors {
      h2.widget-title {
        text-align: center;
      }
    }

  }

  .widget-area {
    padding-top: 0;

    .widget-column {
      width: 100%;
    }
  }

  .wcb_widget_sponsors {
    background: white;
    padding: 10px 0;

    .sponsor-level {
      backrground: white;
      padding: 10px;
      text-align: center;
    }

    .sponsor-level-title {
      display: none;
    }

    .sponsor-logo {
      display: inline-block;
      padding: 10px;
      vertical-align: middle;
      box-shadow:  none;
       &:hover {
         box-shadow: none;
       }

      img {
        box-shadow: none;
        max-height: 90px;
        max-width: 250px;
      }
    }

    .sponsor-level {
      &.bronze {
        .sponsor-logo img {
          max-height: 50px;
        }
      }

      &.rosecliff {
        .sponsor-logo img {
          max-height: 30px;
        }
      }

      &.topiary-garden {
        display: none !important;
      }
    }
  }
}