/**
 * 01. Global
 * 02. Two Column Page
 */


// 01. Global

#main {
	.wrap {
		max-width: 100%;
	}
}

form {
	input {
		font-family: $body-font-family !important;
	}
	input:focus, textarea:focus {
		border-color: $primary-color!important;
	}

	input[type="submit"], button {
		background-color: white;
		border: 1px solid $primary-color;
		border-radius: 50px;
		color: $primary-color;
		&:hover {
			background-color: $primary-color;
			color: white;

		}
		&:focus, &:active {
			background-color: $primary-color;
			color: white;
		}
	}

	&[role="search"] {
		button{
			border: none;
			&:hover, &:focus, &:active {
				background-color: white;
				color: darken($primary-color, 15) !important;
			}
		}
	}

	//Tickets Form
	.tix-attendee-form {
		tr {
			.tix-right {
				width: 100%;
				input[type="text"], input[type="email"] , textarea, select {
					width: 100%;
				}
			}
		}
	}
}

//Buttons
a.button, button {
	margin: .25rem;
	font-size: 14px;
	font-family: $body-font-family;
	line-height: 1;
	padding: 1em 2em;
	font-weight: bold !important;
	background-color: white;
	border: 1px solid $primary-color;
	border-radius: 50px;
	color: $primary-color;

	&:hover, &:focus, &:active {
		background-color: $primary-color;
		color: white !important;
	}
}

header.entry-header {
	margin-bottom: 0 !important;
}

/* Page Header --  Excludes the home page */
.custom-logo-link {
	display: none;
}


// 02. Two Column Page

body.page.page-two-column {
	#primary {
		article {
			@include clearfix;
		}

		.entry-header,
		.entry-content {
			float: none;
			width: 100%;
		}
	}
}