/**
 * 01. Sessions schedule
 */


// 01. Sessions schedule

.wcpt-schedule {
	background: scale-color($primary-color, $lightness: 70%);
	color: $secondary-color;
	text-align: center;

	thead {
		background: $primary-color;
		border-bottom: none;
		color: white;

		th {
			border-bottom: 3px solid white;
			text-align: center;
		}
	}

	tbody {
		> tr {
			border: {
				bottom: 3px solid white;
				top: 3px solid white;
			};

			background: scale-color($primary-color, $lightness: 80%);

			td {
				background: rgba(white, .2);
			}

			[class*="wcb-speaker-"] {
				background: scale-color($primary-color, $lightness: 70%);
			}

			&.global-session {
				[class*="wcb-session-keynote"] {
					background-color: $secondary-color !important;
				}
			}
		}

		td {
			border-left: 3px solid white;
			padding: .4em .8em;

			&:first-of-type {
				background: $primary-color;
				border-left: none;
				color: white;
			}
		}
	}

	th,
	td {
		&:first-child {
			padding-left: .8em;
		}
	}

	.wcpt-session-speakers {
		display: block;

		a {
			font-weight: 400;
		}
	}
}