/**
 * 01. Speakers Archive
 */


// 01. Speakers Archive

.wcorg-speakers {
	.wcorg-speaker {
		@include clearfix;

		padding-bottom: 10px;

		+ .wcorg-speaker {
			border-top: 1px solid $primary-color;
			margin-top: 10px;
			padding-top: 10px;
		}
	}
}