.wcorg-sponsors {
  [class^="wcorg-sponsor-level"] {
    padding-top: 3rem;
    h2 {
      text-align: center;
      position: relative;
      padding-bottom: 3rem !important;

      &:before {
        content: '';
        width: 33%;
        height: 31px;
        position: absolute;
        top: 12px;
        left: 0;
        background: {
          image: url('https://2017.rhodeisland.wordcamp.org/files/2017/08/band-02.png');
          size: auto 100%;
          position: left;
          repeat: no-repeat;
        };

        @media screen and ('max-width: 1110px'){
          width: 25%;
        }

        @media screen and ('max-width: 785px') {
          width: 15%;
        }

        @media screen and ('max-width: 560px') {
          display: none;
        }
      }
      &:after {
        content: '';
        width: 33%;
        height: 31px;
        position: absolute;
        top: 12px;
        right: 0;
        background: {
          image: url('https://2017.rhodeisland.wordcamp.org/files/2017/08/band-01.png');
          size: auto 100%;
          position: right;
          repeat: no-repeat;
        };

        @media screen and ('max-width: 1110px'){
          width: 25%;
        }

        @media screen and ('max-width: 785px') {
          width: 15%;
        }

        @media screen and ('max-width: 560px') {
          display: none;
        }
      }
    }

    .wcorg-sponsor {
      h3 {
        width: 70%;
        margin-left: 30%;
        padding-left: 2rem !important;
      }
      .wcorg-sponsor-description {
        img {
          width: 30%;

        }
        p {
          width: 70%;
          margin-left: 30%;
          padding-left: 2rem;
        }
        ul {
          width: 70%;
          margin-left: 30%;
          padding-left: 5rem;

        }
      }
    }
  }
}

//single sponsor page
.single-featured-image-header {
  img {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
  }
}